@{
    Layout = null;
}
@model SHAN.Service.房间信息DTO
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>类型编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/Content/layui/css/layui.css" media="all" />
</head>
<body class="childrenBody">
    <form class="layui-form" style="width:80%;">
        @Html.HiddenFor(r => r.Id)
        @Html.HiddenFor(r => r.RTId)
        @Html.HiddenFor(r => r.CompanyId)
        <div class="layui-form-item layui-row layui-col-xs12">
            <label class="layui-form-label">所属酒店</label>
            <div class="layui-input-block">
                <select name="cid" id="cid" lay-filter="cid">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-row layui-col-xs12">
            <label class="layui-form-label">房门号</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input Name" name="Number" lay-verify="required" placeholder="如：201" value="@Model.Number">
            </div>
        </div>
        <div class="layui-form-item layui-row layui-col-xs12">
            <label class="layui-form-label">房间类型</label>
            <div class="layui-input-block">
                <select name="rtid" id="rtid" lay-filter="rt">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-row layui-col-xs12">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="其他信息" name="Mark" class="layui-textarea Mrak">@Model.Mark</textarea>
            </div>
        </div>
        <div class="layui-form-item layui-row layui-col-xs12">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="subbtn">提交</button>
                <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">取消</button>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="/Content/layui/layui.js"></script>
    <script>
        var dropListData=[];
        layui.use(['form', 'layer'], function () {
            var form = layui.form
            layer = parent.layer === undefined ? layui.layer : top.layer,
                $ = layui.jquery;
            $.get("/Admin/Room/RTList", function (res) {
                //dropListData = res.data;
                if (res.data.length > 0) {
                    layui.each(res.data, function (index, rt) {
                        var option = "<option value=\"" + rt.Id + "\"";
                        option += ">" + rt.Name + "</option>";
                        $("select[name=rtid]").append(option);
                    });

                } else {
                    //$("select[name=rtid]").html("");
                }
                if ($("#RTId").val() > 0) {
                    $("select[name=rtid]").val($("#RTId").val());
                }
                form.render('select');
            });

            $.get("/Admin/HotelUser/HUList", function (res) {
                //dropListData = res.data;
                if (res.data.length > 0) {
                    layui.each(res.data, function (index, rt) {
                        var option = "<option value=\"" + rt.Id + "\"";
                        option += ">" + rt.CompanyName + "</option>";
                        $("select[name=cid]").append(option);
                    });

                } else {
                    //$("select[name=rtid]").html("");
                };
                if ($("#CompanyId").val() > 0) {
                    $("select[name=cid]").val($("#CompanyId").val());
                }
                form.render('select');
            });
            
            form.on("submit(subbtn)", function (data) {
                data.field.RTId = $('#rtid').val();
                //弹出loading
                var index = top.layer.msg('数据提交中，请稍候', { icon: 16, time: false, shade: 0.8 });
                
                $.post("/Admin/Room/RoomSave", data.field, function (res) {
                    
                })
                setTimeout(function () {
                    top.layer.close(index);
                    top.layer.msg("保存成功！");
                    layer.closeAll("iframe");
                    //刷新父页面
                    parent.location.reload();
                }, 2000);
                return false;
            });
        });

    </script>
</body>
</html>
