
@using CZ.Models;
@model CZ.Models.UserDTO

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>业主超市</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <link rel="stylesheet" type="text/css" href="~/content/shopcss/home.css" />
    <link rel="stylesheet" type="text/css" href="~/content/shopcss/core.css" />
    <link rel="stylesheet" type="text/css" href="~/content/shopcss/icon.css" />
    <link rel="stylesheet" type="text/css" href="~/content/m.farm/css/m.farm.css?2" />
    <script src="~/Content/m.farm/js/flexible.js"></script>
    <script src="~/Content/shopjs/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/shopjs/layer/layer.js"></script>
    <script src="~/Content/shopjs/jquery.units.js"></script>
    <script src="~/Content/shopjs/wfxshop.js" type="text/javascript"></script>
</head>
<body>
    <header class="aui-header-default aui-header-fixed aui-header-bg" style="background:url(/content/shopcss/img/me-bg.jpg) no-repeat;">
        <a href="javascript:history.back(-1)" class="aui-header-item">
            <i class="aui-icon aui-icon-back-white"></i>
        </a>
        <div class="aui-header-center aui-header-center-clear">
            <div class="aui-header-center-logo">
                <div class="aui-car-white-Typeface" style="color:#d5c9ab;font-family: Arial,微软雅黑;">个人中心</div>
            </div>
        </div>
        <a href="#" class="aui-header-item-icon">
            <i class="aui-icon aui-icon-member"></i>
        </a>
    </header>
    <section class="aui-me-content">
        <div class="aui-me-content-box" style="background:url(/content/shopcss/img/me-bg.jpg) no-repeat;">
            <div class="aui-me-content-info"></div>
            <div class="aui-me-content-list">
                <div class="aui-me-content-item">
                    <div class="aui-me-content-item-head">
                        <div class="aui-me-content-item-img">
                            <img src="@Model.Photo" alt="">
                        </div>
                        <div class="aui-me-content-item-title">@Model.Uname</div>
                    </div>
                    <div class="aui-me-content-item-text">
                        <a href="#">
                            <span>@Model.Jifen</span>
                            <span>积分</span>
                        </a>
                        <a href="#">
                            <span>0</span>
                            <span>关注</span>
                        </a>
                        <a href="#">
                            <span>0</span>
                            <span>足迹</span>
                        </a>
                        <a href="#">
                            <span>0</span>
                            <span>分享</span>
                        </a>
                    </div>
                </div>
                <div class="aui-me-content-card">
                    @{if (ViewBag.fxid!=null&& Convert.ToInt32(ViewBag.fxid) > 0)
                        {
                            <h3><i class="aui-icon aui-card-me"></i>分销商  </h3><a href="#">点击提取返利</a>
                        }
                        else
                        {
                            <h3><i class="aui-icon aui-card-me"></i>普通会员  </h3><a href="#">点击查看特权</a> 
                                } 
                        }

                </div>
            </div>
        </div>
        <div class="aui-me-content-order">
            <a href="/wfxShoping/User/MyOrders" class="aui-well aui-fl-arrow">
                <div class="aui-well-bd">我的订单</div>
                <div class="aui-well-ft">查看全部</div>
            </a>
        </div>
        <section class="aui-grid-content">
            <div class="aui-grid-row">
                <a href="/wfxShoping/User/MyOrders?status=10" class="aui-grid-row-item">
                    <i class="aui-icon-large aui-icon-large-sm aui-icon-wallet"></i>
                    <p class="aui-grid-row-label">待付款<small style="color:red;">(@ViewBag.status10)</small></p>
                </a>
                <a href="/wfxShoping/User/MyOrders?status=20" class="aui-grid-row-item">
                    <i class="aui-icon-large aui-icon-large-sm aui-icon-goods"></i>
                    <p class="aui-grid-row-label">待发货<small style="color:red;">(@ViewBag.status20)</small></p>
                </a>
                <a href="/wfxShoping/User/MyOrders?status=30" class="aui-grid-row-item">
                    <i class="aui-icon-large aui-icon-large-sm aui-icon-receipt"></i>
                    <p class="aui-grid-row-label">待收货<small style="color:red;">(@ViewBag.status30)</small></p>
                </a>
                <a href="/wfxShoping/User/MyOrders?status=40" class="aui-grid-row-item">
                    <i class="aui-icon-large aui-icon-large-sm aui-icon-evaluate"></i>
                    <p class="aui-grid-row-label">待评价<small style="color:red;">(@ViewBag.status40)</small></p>
                </a>
                <a href="#" class="aui-grid-row-item">
                    <i class="aui-icon-large aui-icon-large-sm aui-icon-refund"></i>
                    <p class="aui-grid-row-label">退货退款</p>
                </a>
            </div>
            <div class="aui-dri"></div>
            <div class="aui-me-content-order">
                <a href="/wfxShoping/User/Address" class="aui-well aui-fl-arrow">
                    <div class="aui-well-bd">我的服务</div>
                    <div class="aui-well-ft">收货地址</div>
                </a>
            </div>
            <div class="aui-grid-row">
                <a href="#" class="aui-grid-row-item">
                    <i class="aui-icon-large aui-icon-large-sm aui-icon-invitation"></i>
                    <p class="aui-grid-row-label">邀请好友</p>
                </a>
                <a href="#" class="aui-grid-row-item">
                    <i class="aui-icon-large aui-icon-large-sm aui-icon-signs"></i>
                    <p class="aui-grid-row-label">签到领币</p>
                </a>
                <a href="#" class="aui-grid-row-item">
                    <i class="aui-icon-large aui-icon-large-sm aui-icon-coupon"></i>
                    <p class="aui-grid-row-label">优惠券</p>
                </a>
                <a href="#" class="aui-grid-row-item">
                    <i class="aui-icon-large aui-icon-large-sm aui-icon-fight"></i>
                    <p class="aui-grid-row-label">我的评价</p>
                </a>
                <a href="#" class="aui-grid-row-item">
                    <i class="aui-icon-large aui-icon-large-sm aui-icon-recommend"></i>
                    <p class="aui-grid-row-label">我的分享</p>
                </a>
               
            </div>
        </section>
    </section>

        

        <!--footer star-->
                <ul class="nav">
                    <li class="nav1" onclick="location.href='/wfxShoping/Main/Index'"><span>首页</span></li>
                    <li class="nav2" onclick="location.href='/wfxShoping/Category/Index'"><span>分类</span></li>
                    <li class="sb hover"><span>商城</span></li>
                    <li class="nav5" onclick="location.href='/wfxShoping/User/ShopCar'"><span>购物车</span></li>
                    <li class="nav4" onclick="location.href='/wfxShoping/User/MyShop'"><span>我的</span></li>
                </ul>
                <!--footer end-->
</body>

</html>
